*{
  font-family: 'Ubuntu', sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: white;
  box-shadow: 1px 1px 11px 1px rgb(0 0 0 / 30%);
}

.App-header h3 {
  width: fit-content;
  cursor: pointer;
}

.App-header .add-friend {
  height: 40px;
  border-radius: 3px;
  border: none;
  padding: 0px 15px;
  font-size: 14px;
}

.App-header .btn{
  height: 40px;
  margin-left: 15px;
  border-radius: 3px;
  border: none;
  padding: 0px 15px;
  background: #f3c786;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}